build/*
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-6dc597ff414bb4dde7d6.json
build/.cmake/api/v1/reply/cmakeFiles-v1-dd2c0e19c96e8795ade1.json
build/.cmake/api/v1/reply/codemodel-v2-2b7c8b962c8c0e228613.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-chapter1-Debug-1ee4d49f1bb760e8af8b.json
build/.cmake/api/v1/reply/directory-chapter1.endpoint_in_the_client-Debug-c795775067356b2749a1.json
build/.cmake/api/v1/reply/directory-chapter1.server_endpoint-Debug-2fd33a8608dc5e745696.json
build/.cmake/api/v1/reply/index-2023-05-27T02-27-58-0322.json
build/.cmake/api/v1/reply/target-endpoint_in_the_client-Debug-c7b0e01af6dc3d1f28a9.json
build/.cmake/api/v1/reply/target-server_endpoint-Debug-d085db3a497029c9c4b5.json
build/.cmake/api/v1/reply/toolchains-v1-42775fdf442bdfcd0131.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.25.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.1/CMakeSystem.cmake
build/CMakeFiles/3.25.1/CompilerIdCXX/a.out
build/CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/chapter1/cmake_install.cmake
build/chapter1/endpoint_in_the_client/cmake_install.cmake
build/chapter1/endpoint_in_the_client/endpoint_in_the_client
build/chapter1/endpoint_in_the_client/CMakeFiles/endpoint_in_the_client.dir/main.cpp.o
build/chapter1/server_endpoint/cmake_install.cmake
build/chapter1/server_endpoint/server_endpoint
build/chapter1/server_endpoint/CMakeFiles/server_endpoint.dir/main.cpp.o
build/.cmake/api/v1/reply/index-2023-05-27T02-30-34-0791.json
